.navBar {

    position: fixed;

}



h6 {
    font-family: "arial";

}

p {
    font-family: "arial";

}

h2 {
    text-align: center;
    font-family: "particle regular";
}

body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkktvWaZyRKPwZOXa_R0jDwiy0NDJSg72xmhdMigIda40ynj5C2w)
}

#eventosContainer {
    background-color: floralwhite;
}

h1 {
    font-family: "particle regular";
    text-align: center;

}


/* rigth modal*/

.modal.right .modal-dialog {
    padding-top: 80px;
    position: relative;
    margin-right: 100px;
    width: 320px;
    height: 60%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
footer {
    background-color: #080808;
    padding: 25px;
}